.ui-input-text input::-moz-placeholder, .ui-input-search input::-moz-placeholder, textarea.ui-input-text::-moz-placeholder
{
    color: White;
}
.ui-field-contain > label, .ui-field-contain .ui-controlgroup-label, .ui-field-contain > .ui-rangeslider > label
{
    width: 100px;
}
.ui-field-contain > label ~ [class*="ui-"], .ui-field-contain .ui-controlgroup-controls
{
    width: 150px;
}
#group .ui-controlgroup
{
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}
#tag .ui-controlgroup
{
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}
.ui-field-contain > label ~ [class*="ui-"], .ui-field-contain .ui-controlgroup-controls
{
    float: right;
    padding: 0px;
}
.tagAnchor
{
    text-align: left;
}
.tagImg
{
    display: inline-block;
    height: 20px;
}
.groupAnchor
{
    text-align: left;
}
.groupImg
{
    display: inline-block;
    height: 30px;
}
.spanGType
{
    text-decoration: none;
    color: White;
}
.ui-header-fixed
{
    top: 0;
}
#group_header
{
    font-size: 18px;
    font-weight: bolder;
}
#tag_header
{
    font-size: 18px;
    font-weight: bolder;
}
#cg
{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}


.ui-slider .ui-btn-active
{
    background-color: #3090C7;
    background-image: linear-gradient( #3090C7, #3090C7);
    border-color: White;
}

.ui-icon-red:after
{
    background-image: url('../css/images/extra/onoff_grey.png');
    background-size: 23px 23px;
}
.ui-icon-green:after
{
    background-image: url('../css/images/extra/onoff_green.png');
    background-size: 23px 23px;
}
.ui-icon-arrowright:after
{
    background-image: url('../css/images/extra/arrow_right.png');
    background-size: 27px 30px;
}
.ui-icon-3d:after
{
    background-image: url('../css/images/IRicons/3d.png');
    background-size: 23px 23px;
}
.ui-icon-dvd:after
{
    background-image: url('../css/images/IRicons/dvd.png');
    background-size: 23px 23px;
}
.ui-icon-eject:after
{
    background-image: url('../css/images/IRicons/eject.png');
    background-size: 23px 23px;
}
.ui-icon-fm:after
{
    background-image: url('../css/images/IRicons/fm.png');
    background-size: 23px 23px;
}
.ui-icon-fwd:after
{
    background-image: url('../css/images/IRicons/fwd.png');
    background-size: 23px 23px;
}
.ui-icon-game:after
{
    background-image: url('../css/images/IRicons/game.png');
    background-size: 23px 23px;
}
.ui-icon-internet:after
{
    background-image: url('../css/images/IRicons/internet.png');
    background-size: 23px 23px;
}
.ui-icon-movie:after
{
    background-image: url('../css/images/IRicons/movie.png');
    background-size: 23px 23px;
}
.ui-icon-mp3:after
{
    background-image: url('../css/images/IRicons/mp3.png');
    background-size: 23px 23px;
}
.ui-icon-mute:after
{
    background-image: url('../css/images/IRicons/mute.png');
    background-size: 23px 23px;
}
.ui-icon-pause:after
{
    background-image: url('../css/images/IRicons/pause.png');
    background-size: 23px 23px;
}
.ui-icon-play:after
{
    background-image: url('../css/images/IRicons/play.png');
    background-size: 23px 23px;
}
.ui-icon-rev:after
{
    background-image: url('../css/images/IRicons/rev.png');
    background-size: 23px 23px;
}
.ui-icon-soundsetting:after
{
    background-image: url('../css/images/IRicons/soundsetting.png');
    background-size: 23px 23px;
}
.ui-icon-speaker:after
{
    background-image: url('../css/images/IRicons/speaker.png');
    background-size: 23px 23px;
}
.ui-icon-volup:after
{
    background-image: url('../css/images/IRicons/volup.png');
    background-size: 23px 23px;
}
.ui-icon-voldown:after
{
    background-image: url('../css/images/IRicons/voldown.png');
    background-size: 23px 23px;
}
.ui-icon-redBtn:after
{
    background-color: Red;
    background-size: 23px 23px;
}
.ui-icon-greenBtn:after
{
    background-color: Lime;
    background-size: 23px 23px;
}
.ui-icon-yellowBtn:after
{
    background-color: Yellow;
    background-size: 23px 23px;
}
.ui-icon-blueBtn:after
{
    background-color: Blue;
    background-size: 23px 23px;
}
.ui-icon-1:after
{
    background-image: url('../css/images/IRicons/1.png');
    background-size: 23px 23px;
}
.ui-icon-2:after
{
    background-image: url('../css/images/IRicons/2.png');
    background-size: 23px 23px;
}
.ui-icon-3:after
{
    background-image: url('../css/images/IRicons/3.png');
    background-size: 23px 23px;
}
.ui-icon-4:after
{
    background-image: url('../css/images/IRicons/4.png');
    background-size: 23px 23px;
}
.ui-icon-5:after
{
    background-image: url('../css/images/IRicons/5.png');
    background-size: 23px 23px;
}
.ui-icon-6:after
{
    background-image: url('../css/images/IRicons/6.png');
    background-size: 23px 23px;
}
.ui-icon-7:after
{
    background-image: url('../css/images/IRicons/7.png');
    background-size: 23px 23px;
}
.ui-icon-8:after
{
    background-image: url('../css/images/IRicons/8.png');
    background-size: 23px 23px;
}
.ui-icon-9:after
{
    background-image: url('../css/images/IRicons/9.png');
    background-size: 23px 23px;
}
.ui-icon-0:after
{
    background-image: url('../css/images/IRicons/0.png');
    background-size: 23px 23px;
}
.ui-icon-fan:after
{
    background-image: url('../css/images/IRicons/fan.png');
    background-size: 23px 23px;
}
.ui-icon-temp:after
{
    background-image: url('../css/images/IRicons/temp.png');
    background-size: 23px 23px;
}
.ui-icon-heat:after
{
    background-image: url('../css/images/IRicons/heat.png');
    background-size: 23px 23px;
}
.ui-icon-dry:after
{
    background-image: url('../css/images/IRicons/dry.png');
    background-size: 23px 23px;
}
.ui-icon-cool:after
{
    background-image: url('../css/images/IRicons/cool.jpg');
    background-size: 23px 23px;
}
.ui-icon-clock1:after
{
    background-image: url('../css/images/IRicons/clock.png');
    background-size: 23px 23px;
}
.ui-icon-power1:after
{
    background-image: url('../css/images/IRicons/power.png');
    background-size: 23px 23px;
}
